.cart-card {
    background-color: #FFFFFF !important;
}

.thumbnail {
    width: 120px;
}

.product-details {
    display: flex;
    justify-content: center;
}
.product-title {
    align-self: flex-start;
    margin: 10px;
}

.product-price{
    margin: 20px;
    display: flex;
    align-self: center;
}

@media only screen and (max-width: 576px) {
    .product-title{
        margin-top: 10px;
        margin-left: 49px;
        text-align: center;
    }
    .product-price{
        margin-left: 0px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .product-title {
        align-self: flex-start;
        margin-left: 40px;
    }
}

@media only screen and (max-width: 600px) {
    .thumbnail {
        width: 90px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
    .thumbnail {
        width: 100px;
    }
}

.middle {
    position: absolute;
    top: 50%;
    left: 90%;
    transition: .5s ease;
    opacity: 0;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.thumbnail:hover .middle {
  opacity: 1;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}