.cart-page {
    height: 100%;
    overflow: scroll;
}

.total {
    min-height: 350px;
}

.cart {
    background-color: #f8f8f8;
    margin: 10px;
    min-height: 300px;
    max-height: 570px;
    padding: 10px;
    overflow: scroll;
    border-radius: 10px;
}

.text-middle {
    margin: 120px;
    text-align: center;
}

.price-title {
    margin-bottom: 50px;
}

.order-btn {
    margin-top: 50px;
}