.cart-page {
    height: 100%;
    overflow: scroll;
}

.total-container {
    min-height: 350px;
}

.align-center {
    display: flex;
    justify-content: center;
}

.total-container-margin {
    margin: 30px;
}

.cart {
    background-color: #f8f8f8;
    margin: 10px;
    min-height: 300px;
    max-height: 570px;
    padding: 10px;
    overflow: scroll;
    border-radius: 10px;
}

.text-middle {
    display: flex;
    justify-content: center;
    margin-top: 125px;
}
