.pagination li a{
    color: #66615b !important;
    border-color: #66615b !important;
}

.pagination li a:focus {
    background-color: #66615b !important;
    color : #ffffff !important
}

.pagination li a:hover{
    background-color: #66615b !important;
    color : #ffffff !important
}
