#video {
    position: absolute;
    width: 100%;
    left: 50%;
    height: 140%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: "-1";
}

.hoverButtonStyle:hover {
    color: white;
}

.moveSectionDownButton {
    position: absolute;
    bottom: -150%;
    right: 49%;
    color: gray;
}


