.add-to-cart-btn-container {
    padding-top: 50px;
}

.add-to-cart-btn {
    background-color: transparent !important;
    color: black !important;
}

.add-to-cart-btn:hover{
    background-color: black !important;
    color: white !important;
}