.MuiSlider-root {
    color: #66615b !important;
}

.MuiSlider-markLabel {
    font-family: "Montserrat", "Helvetica", Arial, sans-serif !important;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
    transition: 0.5s;
}

.search-btn-container {
    display: flex;
    justify-content: center;
}

.search-btn {
    background-color: transparent !important;
    border-color: #66615b !important;
    color: #66615b !important;
}

.search-btn:hover {
    background-color: #66615b !important;
    color: #ffffff !important;
}

.close-btn {
    display: flex;
    justify-content: flex-end;
    margin: 15px;
}

.inputs > * {
    padding-top: 10px;
}