.open-btn-container {
    width: 100%;
}

.open-btn {
    height: 50px;
    width: 50px;
    border-radius: 50% !important;
    margin-left: 20px !important;
    padding-left: 16px !important;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
    transition: 0.5s;
    border-right: 1px solid #D3D3D3;
}

.search-btn-container {
    display: flex;
    justify-content: center;
}

.search-btn {
    background-color: transparent !important;
    border-color: #66615b !important;
    color: #66615b !important;
}

.search-btn:hover {
    background-color: #66615b !important;
    color: #ffffff !important;
}

.close-btn {
    display: flex;
    justify-content: flex-end;
    margin: 15px;
}

.inputs > * {
    padding-top: 10px;
}

.MuiSlider-root {
    color: #000000 !important;
}

.MuiSlider-markLabel {
    font-family: "Montserrat", "Helvetica", Arial, sans-serif !important;
}

.form-control {
    border-radius: 30px !important;
}
