.main {
    width: 100%;
    max-width: 640px;
}

.car-img {
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .car-img-container {
        margin: 100px;
    }
}

@media only screen and (min-width: 570px) and (max-width: 768px){
     .car-img-container {
        margin: 150px;
    }
}

@media only screen and (max-width: 570px) {
    .car-img-container {
        margin: 160px;
    }
}

.details-btn-container {
    color: #bfbebd;
    width: 100%;
}

.details-btn:hover {
     color: #000000;
}

.details-btn {
    margin-top: 5px;
}
.product-description {
    background-color: #F8F8F8;
    height: 200px;
}

.position-bottom {
    position: absolute;
    width: 100%;
}




