.section-title {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 40px;
}

.view-more-btn {
    background-color: transparent !important;
    border-color: #66615b !important;
    color: #000000 !important;
}

.view-more-btn:hover{
    background-color: #66615b !important;
    color: #ffffff !important;
}

.view-more-btn-container {
    display: flex;
    margin: 50px;
    padding-right: 100px;
    justify-content: flex-end;
}

 @media only screen and (max-width: 768px) {
     .view-more-btn-container {
         padding-right: 0;
         padding-bottom: 40px;
         justify-content: center;
     }
}